/* GLOBAL GENERAL */
:root {
  --navyblue: #2e2f42;
  --white: #fff;
  --iris: #4d5ae5;
  --slate: #434455;
  --ocean: #404BBF;
  --cloud:  #F4F4FD;
}

/* General Styles Index */

/* HEADER */
.header-list-item {
  list-style-type: none;
  color: var(--navyblue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
.header-menu-link{
  color: var(--iris);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-menu-logo{
  color: var(--navyblue, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-weight: 800;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}

.header-list-link{
  text-decoration: none;
  color: var(--navyblue, #2E2F42);
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;

}

.header-list-link:active{
 color: var(--ocean);
font-size: 16px;
font-weight: 500;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px; 
}

.address-list-item {
  list-style-type: none;
}

.address-list-link {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.address-list-link:active{
  color: var(--ocean);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}
/* Section One */
.section-one {
  background-color: var(--navyblue);
}
.section-one-motto {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  text-align: center;
}
.section-one-button {
background: var(--iris);
}
.section-one-button:hover{
background: var(--ocean);

}

/* Section Two */

.section-two-features {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5; /* 120% */
  letter-spacing: 0.4px;
}
.section-two-paragraf {
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.section-two-item {
  list-style-type: none;
}

/* Section Three */
.section-three-heading {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-three-item {
  list-style-type: none;
}

.section-four-item {
  list-style-type: none;
}

/* Section Four */

.section-four-heading {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-four-person {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}
.section-four-position {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

/* General Styles Portfolio*/
.body {
  background: #fff;
  color: #434455;
}

/* BUTTONS */
.sub-menu-item{
background: var(--iris);
}

.sub-menu-item:hover{
background: var(--ocean);
}

.sub-menu-descr{
  color: var(--white);
  
 
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5px; /* 150% */
letter-spacing: 0.64px;
}

 
/* PROJECT LIST */

.project-list-heading {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.project-list-item{
  list-style-type: none;
}
.project-list-paragraf{
  color: var(--slate);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; /* 150% */
letter-spacing: 0.32px;
}

.footer {
  background: #2e2f42;
}
.footer-descr {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.footer-menu-logo{
  color: var(--cloud);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}